# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs / temporary files
*.log
*.tmp

# Local environment
.env
